/* Big screens */
@media (min-width: 768px) {
  .navbar {
    padding: 10px 130px;
    margin-left: 0;
  }

  .navbar-left {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .navbar-right {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .close-img-toggle {
    display: none;
  }

  .title-orange {
    margin: 0;
    font-size: 72px;
  }

  .role {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-top: 24px;
  }

  .description {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 24px;
  }

  .burguer-img-toggle {
    display: none;
  }

  .navbar-menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-menu-mobile li {
    padding: 0 15px;
    align-items: center;
  }

  .main {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
  }

  .text-and-social-wrapper {
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    padding-right: 23%;
    margin: 0 auto;
  }

  .text-wrapper {
    grid-area: 1 / span 1;
    order: 1;
  }

  .social-media {
    grid-area: 0 / span 1;
    flex-direction: column;
    order: 0;
  }

  /* works section */
  .works {
    margin: 133px 140px;
    gap: 0;
    padding: 0;
  }

  .first-work-img {
    max-width: 50%;
  }

  .card-title-desktop {
    font-size: 40px;
  }

  .card-description-desktop {
    font-size: 20px;
  }

  .works-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 114px;
  }

  .section-works-title {
    display: flex;
    border-bottom: none;
    width: 50%;
    margin-top: 1.3%;
    align-items: center;
  }

  .works-title-div {
    display: flex;
    border: #212121 solid 1px;
    width: 100%;
    margin: 0 auto;
    align-self: center;
  }

  /* cards */
  .grid-container {
    display: grid;
    max-width: 100%;
    min-height: 300px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .first-card-flex {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .card-type1 {
    background-image: url("./images/card-type1.svg");
  }

  .card-type2 {
    background-image: url("./images/card-type2.svg");
  }

  .card-type3 {
    background-image: url("./images/card-type3.svg");
  }

  .card-flex {
    display: flex;
    padding-top: 60%;
  }

  .text-container {
    padding-bottom: 16px;
  }

  .desktop-display-none {
    display: none;
  }

  .card-type1:hover {
    background: url("./images/card-type1.svg");
    background-size: auto;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
  }

  .card-type2:hover {
    background-image: url("./images/card-type2.svg");
    background-size: auto;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
  }

  .card-type3:hover {
    background-image: url("./images/card-type3.svg");
    background-size: auto;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
  }

  .card-flex:hover .see-prj {
    display: block;
  }

  .card1:hover .card1-hidde {
    display: none;
  }

  .card2:hover .card2-hidde {
    display: none;
  }

  .card3:hover .card3-hidde {
    display: none;
  }

  .card4:hover .card4-hidde {
    display: none;
  }

  .card5:hover .card5-hidde {
    display: none;
  }

  .card6:hover .card6-hidde {
    display: none;
  }

  .hide-on-desktop {
    display: none;
  }

  .show-on-desktop {
    display: block;
  }

  .text-and-button-wrapper > p {
    width: 61%;
  }

  .skills {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1155px;
  }

  .skills-title {
    align-items: stretch;
  }

  .skills-type {
    font-size: 32px;
  }

  .skill-ul {
    justify-content: flex-start;
  }

  .list-item {
    text-align: left;
  }

  .about {
    padding: 0 130px 130px 130px;
    height: auto;
    background-color: #262626;
  }

  .about-me-wrapper {
    background-color: unset;
  }

  .about-description {
    font-size: 20px;
  }

  .div-line {
    width: 100%;
    margin-bottom: 146px;
  }

  .text-and-button-wrapper {
    margin: 0;
  }

  .contact-wrapper {
    margin: 130px 130px 226px 130px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .contact-form-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    padding: 0;
  }

  .contact h1 {
    width: 40%;
    text-align: left;
    font-size: 40px;
  }

  .contact-button {
    margin-left: 0;
  }

  .footer-list {
    justify-content: center;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

/* Small Screens */
@media (max-width: 768px) {
  .navbar-menu-mobile {
    display: none;
  }

  .burguer-img-toggle {
    margin: 0 24px;
  }
}
