* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-main-mobile: #1c1a19;
  --bg-header: #3c3a39;
  --body-bg-image: url("./images/illustration-header-mobile.png");
  --proArt-card-bg: url("./images/Img Placeholder pro art.png");
  --about-bg-image: url("./images/illustration-about-me-mobile.png");
}

.crete {
  font-family: "Crete Round", serif;
}

.inter400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inter500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.inter700 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.display-none {
  display: none;
}

body {
  height: 100vh;
  min-width: 375px;
  place-items: center;
}

header {
  width: 100%;
  position: fixed;
}

.navbar {
  display: flex;
  background-color: var(--bg-header);
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 44px;
  color: #fff;
}
.navbar-menu-toggle {
  background-color: var(--bg-header);
  height: 100vh;
}
.navbar-left,
.navbar-right {
  color: #fff;
  margin: 0 24px;
}

.navbar-left {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/* main section */
.main-section {
  background-color: var(--bg-main-mobile);
}

.main {
  background-image: url("./images/Illustration-header.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: calc(100% + 1em + 10px) 100%;
}

.text-and-social-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin: 0 12px;
}

.social-media {
  display: flex;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 3%;
}

body > footer > div > ul > li {
  padding: 10px;
}

.social-media > li {
  list-style: none;
  text-decoration: none;
  padding: 0.3rem;
}

/* works section */
.title-orange {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ff6b00;
  font-size: 56px;
  margin: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.role {
  font-family: "Roboto", sans-serif;
  color: #fff5e1;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px;
}

.description {
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-left: 24px;
  margin-right: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  flex: none;
  order: 2;
  flex-grow: 0;
  max-width: 50vh;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 120px 0;
}

.works-title-div {
  display: none;
}

.section-works-title {
  line-height: 52px;
  color: #1c1a19;
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
}

.first-work-great {
  display: contents;
}

.first-card-flex {
  display: contents;
}

.grid-container {
  display: grid;
  max-width: 360px;
  grid-template-columns: 1fr;
  gap: 24px;
}

.card-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  background-image: var(--proArt-card-bg);
  background-position: center;
  background-size: cover;
  padding-top: 70px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 13px;
  gap: 12px;
}

.card-title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #091e42;
}

.card-description {
  color: #091e42;
  font-size: 16px;
}

.font-white {
  color: #fff;
}

.tag {
  list-style: none;
  display: flex;
  color: #091e42;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  align-items: center;
}

.tag-description {
  font-size: 15px;
  color: #091e42;
  padding: 12px 10px;
  border: 1px solid #8993a4;
}

.tag-description-2 {
  font-family: "Inter", sans-serif;
  color: #fff;
  padding: 12px 10px;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
}

.see-prj {
  color: #fff;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
  line-height: 24px;
  font-size: 17px;
  cursor: pointer;
  transition: all 70ms;
}

.wide {
  width: 100%;
  margin-top: 5%;
}

.see-prj:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

/* about section */
.about {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  background-image: url("./images/Frame.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: calc(100% + 4em + 10px) 30%;
}

.text-and-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  height: 100vh;
  margin: 0 24px;
}

.about-title {
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  font-weight: 400;
}

.about-description {
  color: #f4f5f7;
  font-size: 16px;
}

.div-line {
  width: 90%;
  height: 1px;
  background-color: #fff;
  margin: 15px 24px;
  align-self: center;
}

.about-me-button {
  margin-top: 4%;
}

.skills {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 44px;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding-bottom: 70px;
}

.skills-title {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.skill-ul {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.skills-type {
  font-size: 25px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.skills-list {
  color: #fff;
  margin-top: 2rem;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.list-item {
  font-size: 22px;
  text-align: center;
  font-weight: 400;
}

.noTagList {
  list-style: none;
}

/* contact section */
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: space-between;
  color: #172b4d;
  margin-top: 20%;
  margin-bottom: 20%;
}

.contact h1 {
  width: 85%;
}

.contact-form-wrapper {
  width: 85%;
  padding-top: 119px;
  display: flex;
  margin: 0 auto;
}

.contact-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0%;
}

.contact-form input {
  padding: 3% 4%;
  border-bottom: #979493 1px solid;
  font-size: 16px;
  margin-bottom: 5%;
  color: #979493;
  align-content: center;
  justify-content: center;
}

textarea {
  border: none;
  background-color: #fbf8f7;
}

.contact-form textarea {
  padding: 3% 4%;
  font-size: 16px;
  margin-bottom: 5%;
  color: #3c3a39;
}

.no-border {
  border: none;
  width: 100%;
  height: 25%;
}

.contact-button {
  color: #fff;
  background-color: #ff6b00;
  padding: 12px;
  margin-top: 20px;
  margin-left: 40%;
  width: 40%;
  border: none;
  line-height: 24px;
  font-size: 17px;
  cursor: pointer;
  transition: all 70ms;
}

.contact-button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

footer {
  border-top: 1px solid #dfe1e6;
  margin-top: 24px;
  padding-top: 20px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
}
.mobile-menu {
  display: flex;
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3c3a39;
  padding: 28px;
  gap: 20px;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.show{
  top: 0;
}
.hide{
  position: fixed;
  top: 100%;
}

#mobile-menu-list {
  margin-top: 40px;
}

.mobile-menu-link {
  color: #fff5e1;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  gap: 32px;
}
