* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-main-mobile: #1c1a19;
  --bg-header: #3c3a39;
  --body-bg-image: url("./images/illustration-header-mobile.png");
  --proArt-card-bg: url("./images/Img Placeholder pro art.png");
  --about-bg-image: url("./images/illustration-about-me-mobile.png");
}

.crete {
  font-family: "Crete Round", serif;
}

.inter400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inter500 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.inter700 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  min-width: 375px;
  max-width: 768px;
  place-items: center;
}

.navbar {
  display: flex;
  background: var(--bg-header);
  align-items: center;
  justify-content: space-between;
}

.navbar-left,
.navbar-right {
  color: #fff;
  margin-left: 24px;
  min-height: 24px;
  min-width: 24px;
}

.navbar-left {
  font-family: "Roboto", sans-serif;
  min-height: auto;
  text-decoration: none;
}

.navbar-right {
  margin-right: 24px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.main-mobile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  background-color: var(--bg-main-mobile);
  background-image: var(--body-bg-image);
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 110%;
  background-clip: padding-box;
}

.title-orange {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ff6b00;
  font-size: 56px;
  margin: 24px;
  line-height: 114%;
  letter-spacing: 0.37px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.role {
  font-family: "Roboto", sans-serif;
  color: #fff5e1;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px;
}

.description {
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-left: 24px;
  margin-right: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social-media {
  margin-left: 2em;
  margin-right: 24 px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 13em;
  flex: none;
  order: 3;
  flex-grow: 0;
  text-decoration: none;
}

.social-media > li {
  list-style: none;
  text-decoration: none;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 120px 0;
}

.section-title {
  line-height: 52px;
  color: #1c1a19;
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
}

.grid-container {
  display: grid;
  margin: 0 24px;
  max-width: 360px;
  grid-template-columns: 1fr;
  gap: 24px;
}

.card-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 13px;
  gap: 12px;
}

.card-title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #091e42;
}

.card-description {
  color: #091e42;
  font-size: 16px;
}

.font-white {
  color: #fff;
}

.tag {
  list-style: none;
  display: flex;
  color: #091e42;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  align-items: center;
}

.tag-description {
  font-size: 15px;
  color: #091e42;
  padding: 12px 10px;
  border: 1px solid #8993a4;
}

.tag-description-2 {
  font-family: "Inter", sans-serif;
  color: #fff;
  padding: 12px 10px;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
}

.see-prj {
  color: #fff;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
  line-height: 24px;
  font-size: 17px;
  cursor: pointer;
  transition: all 70ms;
}

.wide {
  width: 100%;
  margin-top: 5%;
}

.proArt {
  background-image: var(--proArt-card-bg);
  background-position: center;
  background-size: cover;
  padding-top: 70px;
}

.see-prj:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.about {
  /* overflow: hidden; */
  background-color: #1c1a19;
  background-image: var(--about-bg-image);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 17%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 120px 24px;
}

.about-title {
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  font-weight: 400;
}

.about-description {
  color: #f4f5f7;
  font-size: 16px;
}

.div-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 150px 0;
  align-self: center;
}

.skills {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 44px;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  list-style: none;
}

.skills-title {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.skills-type {
  font-size: 32px;
  color: #fff;
}

.skills-list {
  color: #fff;
  align-self: center;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list-item {
  font-weight: 400;
  font-size: 22px;
}
